package templates

import "github.com/f-bh/ghq/model"

templ Tile(t model.Tile) {
	<button
		id={ "tile " + t.GetPostion().ToString() }
		class="bg-stone-900 border-solid
           border-black border-2
           hover:bg-stone-400
           aspect-square
           "
	></button>
}
